@import url(layout/normalize.min.css);
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu';
  line-height: 1.42; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 0;
  position: relative; }

.section {
  text-align: center;
  min-height: 650px;
  height: 100vh; }

.greyscale {
  -webkit-filter: greyscale(100%);
  filter: greyscale(100%); }

.pagination__list {
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: fixed;
  top: 88px;
  right: 5%; }
  .pagination__list .pagination__item {
    width: 15px;
    height: 15px;
    margin-bottom: 7px;
    vertical-align: middle;
    color: #fff;
    line-height: 12px;
    font-size: 12px;
    text-decoration: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .pagination__list .pagination__item-active {
    border: 1px solid #fff;
    border-radius: 50%; }
  .pagination__list .pagination__link {
    text-decoration: none;
    color: #fff;
    padding-bottom: 15px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .pagination__list:hover {
    color: #f9b43b; }

.heading {
  background: url("../images/heading_bg.jpg") center center no-repeat;
  background-size: cover; }
  .heading .heading__wrapper {
    width: 960px;
    display: inline-block; }
    .heading .heading__wrapper .header {
      display: inline-block;
      width: 960px;
      margin: 0;
      padding: 0;
      text-align: left;
      font-size: 13px;
      font-family: 'Ubuntu', Helvetica, sans-serif;
      font-weight: 300; }
      .heading .heading__wrapper .header .header__logo {
        display: inline-block;
        vertical-align: middle;
        height: 69px;
        width: 92px;
        width: 19%; }
      .heading .heading__wrapper .header .header__content {
        text-align: right;
        height: 81px;
        width: 80%;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        line-height: 78px; }
        .heading .heading__wrapper .header .header__content .nav__list {
          display: inline-block;
          vertical-align: middle; }
          .heading .heading__wrapper .header .header__content .nav__list .nav__item {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap; }
            .heading .heading__wrapper .header .header__content .nav__list .nav__item:after {
              display: inline-block;
              vertical-align: middle;
              content: ' ';
              width: 5px;
              height: 5px;
              border-radius: 2.5px;
              background-color: #fff;
              margin: 0 13px; }
            .heading .heading__wrapper .header .header__content .nav__list .nav__item:last-child:after {
              display: none; }
            .heading .heading__wrapper .header .header__content .nav__list .nav__item .nav__link {
              text-transform: uppercase;
              text-decoration: none;
              color: #fff;
              -webkit-transition: .5s;
              -o-transition: .5s;
              transition: .5s; }
              .heading .heading__wrapper .header .header__content .nav__list .nav__item .nav__link:hover {
                color: #f9b43b; }
        .heading .heading__wrapper .header .header__content .header__order {
          display: inline-block;
          width: 97px;
          height: 35px;
          vertical-align: middle;
          color: #fff;
          margin-left: 15px;
          text-transform: uppercase;
          line-height: 35px;
          text-align: center;
          background: #e45028;
          border-radius: 5px;
          font-size: 13px;
          cursor: pointer;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
          .heading .heading__wrapper .header .header__content .header__order:hover {
            background: #c13c18; }
    .heading .heading__wrapper .content {
      text-align: left; }
      .heading .heading__wrapper .content .content__picture {
        background: url("../images/steam_burger.png") 20px 50px no-repeat;
        display: inline-block;
        width: 50%;
        height: 450px;
        vertical-align: middle; }
      .heading .heading__wrapper .content .content__titles {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding-left: 7px; }
      .heading .heading__wrapper .content .content__title {
        color: #f9b43b;
        text-transform: uppercase;
        font-size: 74px;
        padding-top: 17px;
        letter-spacing: -1.5px;
        overflow: hidden;
        line-height: 1.2;
        font-family: 'Gagalin', Helvetica, sans-serif; }
      .heading .heading__wrapper .content .content__subtitle {
        color: #fff;
        font-size: 64px;
        margin: 0;
        letter-spacing: -1px;
        line-height: 0.9;
        padding-top: 25px;
        font-family: 'Lifehack'; }
    .heading .heading__wrapper .next-screen-arrow {
      position: absolute;
      left: 50vw;
      bottom: 1.5vw;
      cursor: pointer; }

.best {
  background: url("../images/best_bg.jpg") center center no-repeat;
  background-size: cover; }
  .best .best__wrapper {
    display: inline-block;
    width: 1130px; }
  .best .best__main-title {
    font-size: 72px;
    color: #000;
    text-align: center;
    padding-top: 50px;
    font-family: 'Gagalin', Helvetica, sans-serif; }
  .best .best__content {
    width: 1130px;
    padding: 15px;
    margin-top: 47px;
    display: inline-block;
    text-align: center; }
    .best .best__content .best__row {
      width: 100%; }
      .best .best__content .best__row .best__col {
        display: inline-block;
        width: 33%;
        vertical-align: top; }
        .best .best__content .best__row .best__col .best__img {
          vertical-align: top;
          width: 100px;
          height: 100px;
          display: inline-block;
          text-align: center; }
        .best .best__content .best__row .best__col .best__meat {
          background: url("../images/icons/meat.svg") 50% 50% no-repeat; }
        .best .best__content .best__row .best__col .best__hand {
          background: url("../images/icons/hand.svg") 50% 50% no-repeat; }
        .best .best__content .best__row .best__col .best__natural {
          background: url("../images/icons/natural.svg") 50% 50% no-repeat; }
        .best .best__content .best__row .best__col .best__title {
          font-size: 24px;
          margin-top: 22px;
          line-height: 1.2;
          font-family: 'Lifehack'; }
        .best .best__content .best__row .best__col .best__text {
          font-size: 14px;
          font-weight: 100;
          margin-top: 15px;
          padding-left: 50px;
          text-align: left;
          font-family: 'Ubuntu', Helvetica, sans-serif;
          font-weight: 100; }

.reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .reviews .reviews__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%; }
    .reviews .reviews__list .reviews__item {
      -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      text-align: left; }
      .reviews .reviews__list .reviews__item:hover .reviews__review {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1; }
      .reviews .reviews__list .reviews__item .reviews__photo {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat; }
    .reviews .reviews__list .greyscale {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
    .reviews .reviews__list .reviews__review {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 1, 5, 0.7);
      padding: 50px 30px 50px 20px;
      opacity: 0;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
      overflow: hidden; }
      .reviews .reviews__list .reviews__review .reviews__title {
        font-size: 14px;
        color: #fff;
        margin-bottom: 20px;
        text-align: left;
        font-family: 'Gagalin', Helvetica, sans-serif; }
      .reviews .reviews__list .reviews__review .reviews__text {
        font-size: 14px;
        line-height: 1.71;
        color: #fff;
        text-align: left;
        padding-bottom: 20px;
        font-family: 'Ubuntu', Helvetica, sans-serif;
        font-weight: 100; }
      .reviews .reviews__list .reviews__review .reviews__more {
        display: inline-block;
        width: 110px;
        height: 35px;
        background: #474c4f;
        border-radius: 5px;
        color: #fff;
        font-size: 13px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        cursor: pointer;
        font-family: 'Ubuntu', Helvetica, sans-serif;
        font-weight: 300; }
        .reviews .reviews__list .reviews__review .reviews__more:hover {
          background: #2f3234; }

.team {
  background: url("../images/team_bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.team__right-block {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .team__right-block .team__content {
    width: 70%; }
  .team__right-block .team__title {
    color: #f9b43b;
    font-family: 'Gagalin', Helvetica, sans-serif;
    font-size: 72px;
    margin-top: 15%;
    margin-bottom: 30%; }
  .team__right-block .team-acco__title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Gagalin', Helvetica, sans-serif; }
    .team__right-block .team-acco__title:before {
      content: "";
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-top-color: #f9b43b;
      border-bottom: none;
      margin-right: 10px; }

.team-acco__item {
  margin-bottom: 20px; }
  .team-acco__item.active .team-acco__content {
    height: auto; }
  .team-acco__item.active .team-acco__title {
    color: #f9b43b; }
    .team-acco__item.active .team-acco__title:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.team-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 0; }
  .team-acco__content .team-acco__position {
    color: #fff;
    font-size: 14px;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 10px; }
  .team-acco__content .team-acco__desc-text {
    color: #fff;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 100;
    padding-left: 20px;
    font-size: 14px;
    text-align: left; }
  .team-acco__content .team-acco__avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 10px 15px 0px 15px; }
  .team-acco__content .team-acco__avatar-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%; }

.menu {
  background: url("../images/menu_bg.jpg") 50% no-repeat;
  background-size: cover;
  position: relative; }

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #fff;
  font-size: 72px;
  font-family: 'Gagalin', Helvetica, sans-serif; }

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu-acco__item {
  height: 100%;
  background-color: #000; }
  .menu-acco__item.active .menu-acco__section-text {
    color: #f9b43b; }

.menu-acco__section {
  width: 5rem;
  display: block;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative; }
  .menu-acco__section:hover .menu-acco__tint {
    background-color: rgba(0, 0, 0, 0.2); }

.menu-acco__tint {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.menu-acco__section-text {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Gagalin', Helvetica, sans-serif;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%) translateX(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%) translateX(-50%);
  transform: rotate(-90deg) translateY(-50%) translateX(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  margin-top: -20px;
  opacity: 1; }
  .menu-acco__section-text .menu-acco__content {
    height: 100%;
    float: left;
    background: rgba(47, 50, 52, 0.93);
    width: 0;
    overflow: hidden; }

.menu-acco__text {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  padding: 60px 30px;
  width: 100%;
  line-height: 1.8;
  display: none; }

.contacts {
  background: url("../images/contacts_bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }
  .contacts .footer {
    background: url("../images/footer_bg.jpg") center bottom no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0; }
    .contacts .footer .footer__container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
  .contacts .footer__col {
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    margin-left: 80px;
    display: column; }
  .contacts .footer__address {
    color: #fff;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 4px; }
  .contacts .footer__phone {
    color: #e45028;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-block; }
  .contacts .footer__phone-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px; }
  .contacts .footer__col_right {
    text-align: right;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .contacts .socials {
    position: relative;
    top: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 80px; }
  .contacts .socials__item {
    margin-right: 18px; }
  .contacts .socials__link {
    display: inline-block;
    max-width: 23px;
    max-height: 20px;
    opacity: .3;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .contacts .socials__link:hover {
      opacity: 1; }
  .contacts .socials__link-icon {
    width: 20px;
    height: 20px; }
