// Colors
$white: #fff
$red: #e45028
$yellow: #f9b43b
$black: #000
$grey: #474c4f


//resolutions
$desktop: 1200px
$laptop: 992px
$tablets: 768px
$phones: 480px


// Config
@import "config/mixins.sass"

// Layout
@import "layout/normalize.min.css"
@import "layout/media"
@import "layout/fonts"
@import "layout/base"

// Components
@import "components/pagination.sass"


// Pages content
@import "sections/heading"
@import "sections/best"
@import "sections/reviews"
@import "sections/team"
@import "sections/menu"
@import "sections/contacts"









