.exit {
    animation: fadeOutUp .35s;
    animation-fill-mode: forwards;
    @include tablets {
        animation: fadeOutLeft .35s;
    }
}

.enter {
    animation: fadeInRight .25s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}


@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}