.contacts
  background: url('../images/contacts_bg.jpg') center center no-repeat
  background-size: cover
  position: relative

  .footer 
    background: url('../images/footer_bg.jpg') center bottom no-repeat
    background-size: cover
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: rem(5px) 0

    .footer__container 
      display: flex
      flex-direction: row
      align-items: center
    
  .footer__col 
    width: 50%
    margin-bottom: rem(10px)
    margin-top: rem(10px)
    text-align: left
    margin-left: rem(80px)
    display: column

    
  .footer__address 
    color: $white
    @include ubuntu(light)
    font-size: rem(14px)
    margin-bottom: rem(4px)


  .footer__phone 
    color: $red
    @include ubuntu(bold)
    text-decoration: none
    font-size: rem(14px)
    display: inline-block

  .footer__phone-icon
    display: inline-block
    width: rem(12px)
    height: rem(12px)
    margin-right: rem(5px)


  .footer__col_right 
    text-align: right
    margin-bottom: 0
    display: flex
    justify-content: flex-end


  .socials 
    position: relative
    top: 50%
    display: flex
    align-items: center
    margin-right: rem(80px)


  .socials__item 
    margin-right: rem(18px)


  .socials__link 
    display: inline-block
    max-width: rem(23px)
    max-height: rem(20px)
    opacity: .3
    transition: .3s
    &:hover 
      opacity: 1
    
  .socials__link-icon 
    width: rem(20px)
    height: rem(20px)

