.menu-acco {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
  display: flex;
}

.menu-acco__item {
	height: 100%;

	&:hover {
		.menu-acco__tint {
			background-color: rgba($black, 0.8);	
		}
	}

	&.active {
		.menu-acco__trigger-text {
			color: $yellow;
		}
		.menu-acco__content {
			max-width: rem(2000px);
			@include tablets {
				max-width: rem(1000px);
			}
			@include phones {
				max-width: rem(500px);
			}
		}
	}
}

.menu-acco__trigger {
	width: rem(80px);
	display: block;
	height: 100%;
	float: left;
	@include cover;
	text-decoration: none;
  position: relative;
}

.menu-acco__trigger-text {
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	text-align: center;
	white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: rem(-20px);
	transition: .3s;
}

.menu-acco__content {
	height: 100%;
	background: rgba(#2f3234, .93);
	width: 0;
	transition: .3s;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
	width: auto;
	max-width: 0;
}

.menu-acco__text {
	@include ubuntu(light);
	font-size: rem(14px);
	color: #fff;
	padding: rem(60px) rem(40px);
  line-height: 1.8;
	width: auto;
}

.menu-acco__tint {
	width: 100%;
	height: 100%;
	background-color: rgba($black, .5);
	transition: .4s;
}