.popup {
    display: none;
    max-width: 700px;
}

.popup__bottom {
    display: flex;
    justify-content: center;
    padding-top: rem(20px);
    padding-bottom: 0;
    margin-bottom: 0;
}

.popup__title {
    @include ubuntu(bold);
    font-size: rem(18px);
    text-align: center;
    margin-bottom: rem(15px);
}

.popup__text {
    @include ubuntu();
}
